<a href="https://colab.research.google.com/github/Alphabf/sas2r/blob/main/%7Brio%7D_data_import_and_export_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# setwd('C:/Users/Waraba/Desktop/R in CDISC _ Jupyter Lab')

setwd('C:/Users/Waraba/Desktop/R in CDISC _ Jupyter Lab/RAWDEMO_CSV')

In [ ]:
getwd()

[1] "C:/Users/Waraba/Desktop/R in CDISC _ Jupyter Lab/RAWDEMO_CSV"

In [ ]:
load("dm_rawdata.RData")
ls()

In [ ]:
install.packages("rio")
library(rio)

Warning message:
"package 'rio' is in use and will not be installed"

In [ ]:
demog <- import("demog.csv")

In [ ]:
head(demog)

**Data import and export: {rio}**

In [ ]:
library(rio)

In [ ]:
demog_rio <- import("demog.csv")

In [ ]:
head(demog_rio)

**Import an Excel file and load each sheet as a separate table (DataFrame)**

In [ ]:
all_sheets <- import_list("sample_excel_file.xlsx")
str(all_sheets)

List of 2
 $ Students :'data.frame':	3 obs. of  3 variables:
  ..$ ID   : num [1:3] 1 2 3
  ..$ Name : chr [1:3] "Alice" "Bob" "Charlie"
  ..$ Score: num [1:3] 85 90 95
 $ Inventory:'data.frame':	3 obs. of  3 variables:
  ..$ Product : chr [1:3] "Widget A" "Widget B" "Widget C"
  ..$ Price   : num [1:3] 20.5 35 12.8
  ..$ In Stock: logi [1:3] TRUE FALSE TRUE

In [ ]:
head(all_sheets)

$Students
  ID    Name Score
1  1   Alice    85
2  2     Bob    90
3  3 Charlie    95

$Inventory
   Product Price In Stock
1 Widget A 20.50     TRUE
2 Widget B 35.00    FALSE
3 Widget C 12.75     TRUE

In [ ]:
head(all_sheets$Inventory)

  Product  Price In Stock
1 Widget A 20.50  TRUE
2 Widget B 35.00 FALSE
3 Widget C 12.75  TRUE

In [ ]:
library(tidyverse)

In [ ]:
Inventory <- tibble(all_sheets$Inventory)

In [ ]:
Inventory

  Product  Price In Stock
1 Widget A 20.50  TRUE
2 Widget B 35.00 FALSE
3 Widget C 12.75  TRUE

**Import all CSV files from a directory as separate DataFrames.**

In [ ]:
paths <- Sys.glob("*.csv")

**Get the list of the data**

In [ ]:
all_csv_data <- import_list(paths)

str(all_csv_data)

List of 18
 $ adverse :'data.frame':	9 obs. of  29 variables:
  ..$ V1         : int [1:9] 1 2 3 4 5 6 7 8 9
  ..$ study      : chr [1:9] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt         : int [1:9] 1001 1003 1004 1004 1004 1004 1005 1006 1007
  ..$ aecat      : chr [1:9] "General Adverse Event" "General Adverse Event" "General Adverse Event" "General Adverse Event" ...
  ..$ aevt       : chr [1:9] "nausea" "CARDIAC ARREST" "nausea" "PAIN ABDOMINAL" ...
  ..$ prefdose   : chr [1:9] "Y" "Y" "Y" "Y" ...
  ..$ aestdt_raw : chr [1:9] "01/JAN/2010" "05/JAN/2010" "01/JAN/2010" "03/JAN/2010" ...
  ..$ aeendt_raw : chr [1:9] "01/JAN/2010" "05/JAN/2010" "01/JAN/2010" "07/JAN/2010" ...
  ..$ aesev      : chr [1:9] "Mild" "Severe" "Mild" "Mild" ...
  ..$ aerel      : chr [1:9] "No" "No" "No" "No" ...
  ..$ aeacn      : chr [1:9] "No action taken" "No action taken" "No action taken" "No action taken" ...
  ..$ aeacnoth   : chr [1:9] "" "" "" "" ...
  ..$ aeser      : chr [1:9] "No" "Yes" "No" "No" ...
  ..$ sdeath     : chr [1:9] "" "Yes" "" "" ...
  ..$ slife      : logi [1:9] NA NA NA NA NA NA ...
  ..$ shosp      : chr [1:9] "" "" "" "" ...
  ..$ sdisab     : logi [1:9] NA NA NA NA NA NA ...
  ..$ scong      : logi [1:9] NA NA NA NA NA NA ...
  ..$ smie       : logi [1:9] NA NA NA NA NA NA ...
  ..$ aeout      : chr [1:9] "Recovered/Resolved" "FATAL" "Recovered/Resolved" "Recovered/Resolved" ...
  ..$ hadmtdt_raw: chr [1:9] "" "5/JAN/2010" "" "" ...
  ..$ hadmttm_raw: logi [1:9] NA NA NA NA NA NA ...
  ..$ hdsdt_raw  : chr [1:9] "" "5/JAN/2010" "" "" ...
  ..$ hdstm_raw  : logi [1:9] NA NA NA NA NA NA ...
  ..$ aellt      : chr [1:9] "" "Cardiac arrest" "Nausea" "Pain abdominal" ...
  ..$ aedecod    : chr [1:9] "" "Cardiac arrest" "Nausea" "Abdominal pain" ...
  ..$ aehlt      : logi [1:9] NA NA NA NA NA NA ...
  ..$ aehlgt     : logi [1:9] NA NA NA NA NA NA ...
  ..$ aebodsys   : chr [1:9] "" "Cardiac disorders" "Gastrointestinal disorders" "Gastrointestinal disorders" ...
  ..- attr(*, "filename")= chr "adverse.csv"
 $ box     :'data.frame':	16 obs. of  3 variables:
  ..$ V1     : int [1:16] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ kitid  : int [1:16] 13434371 52970539 52120567 59305202 13787377 65580239 45377264 39024101 65845489 66223983 ...
  ..$ content: chr [1:16] "ACTIVE" "ACTIVE" "ACTIVE" "ACTIVE" ...
  ..- attr(*, "filename")= chr "box.csv"
 $ conmeds :'data.frame':	3 obs. of  13 variables:
  ..$ V1        : int [1:3] 1 2 3
  ..$ study     : chr [1:3] "STU001" "STU001" "STU001"
  ..$ pt        : int [1:3] 1004 1006 1007
  ..$ cmcat     : chr [1:3] "General" "" "General"
  ..$ cmvt      : chr [1:3] "OMEPRAZOLE" "PARACETAMOL" "LOPERAMIDE"
  ..$ cmpt      : chr [1:3] "Omeprazole" "Paracetamol" "Loperamide"
  ..$ cmindc    : chr [1:3] "GASTRITIS" "AE MID LOWER BACK PAIN" "DIARRHEA"
  ..$ cmdose_raw: int [1:3] 20 750 2
  ..$ cmdosu_raw: chr [1:3] "Milligram" "Milligram" "Milligram"
  ..$ cmdosfrq  : chr [1:3] "Daily" "As needed" "Daily"
  ..$ route     : chr [1:3] "Oral" "Oral" "Oral"
  ..$ cmstdt_raw: chr [1:3] "UN/UNK/2007" "6/MAR/2010" "10/MAY/2010"
  ..$ cmendt_raw: chr [1:3] "" "25/MAR/2010" "12/MAY/2010"
  ..- attr(*, "filename")= chr "conmeds.csv"
 $ demog   :'data.frame':	8 obs. of  14 variables:
  ..$ V1        : int [1:8] 1 2 3 4 5 6 7 8
  ..$ study     : chr [1:8] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt        : int [1:8] 1001 1002 1003 1004 1005 1006 1007 1008
  ..$ sex       : chr [1:8] "Male" "Female" "Male" "Male" ...
  ..$ ethnic    : chr [1:8] "Hispanic or Latino" "Not Hispanic or Latino" "Hispanic or Latino" "Hispanic or Latino" ...
  ..$ race      : chr [1:8] "White" "Asian" "Other" "White" ...
  ..$ race2     : chr [1:8] "" "American Indian or Alaska Native" "" "" ...
  ..$ race3     : logi [1:8] NA NA NA NA NA NA ...
  ..$ race4     : logi [1:8] NA NA NA NA NA NA ...
  ..$ racesp    : chr [1:8] "" "" "BRAZILIAN" "" ...
  ..$ age_raw   : int [1:8] 35 40 40 38 64 75 32 83
  ..$ age_rawu  : chr [1:8] "Years" "Years" "Years" "Years" ...
  ..$ brthdt_raw: logi [1:8] NA NA NA NA NA NA ...
  ..$ country   : chr [1:8] "USA" "USA" "USA" "USA" ...
  ..- attr(*, "filename")= chr "demog.csv"
 $ ecg     :'data.frame':	5 obs. of  15 variables:
  ..$ V1      : int [1:5] 1 2 3 4 5
  ..$ study   : chr [1:5] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt      : int [1:5] 1004 1005 1005 1006 1007
  ..$ folder  : chr [1:5] "SCR" "SCR" "UNS_ECG" "SCR" ...
  ..$ egdt_raw: chr [1:5] "4/JAN/2010" "5/FEB/2010" "22/FEB/2010" "1/MAR/2010" ...
  ..$ egscat  : chr [1:5] "SOC" "SOC" "SOC" "SOC" ...
  ..$ egmethod: chr [1:5] "12 Lead" "12 Lead" "12 Lead" "12 Lead" ...
  ..$ egloc   : chr [1:5] "Heart" "Heart" "Heart" "Heart" ...
  ..$ pr_raw  : int [1:5] 80 180 190 142 152
  ..$ qrs_raw : int [1:5] 88 80 90 76 108
  ..$ qt_raw  : int [1:5] 409 360 376 389 396
  ..$ qtc_raw : int [1:5] 385 392 408 411 441
  ..$ hr_raw  : int [1:5] 59 76 81 71 74
  ..$ egintp  : chr [1:5] "Normal" "Normal" "Normal" "Normal" ...
  ..$ egintpsp: chr [1:5] "" "" "" "" ...
  ..- attr(*, "filename")= chr "ecg.csv"
 $ eligcrit:'data.frame':	3 obs. of  6 variables:
  ..$ V1     : int [1:3] 1 2 3
  ..$ study  : chr [1:3] "STU001" "STU001" "STU001"
  ..$ pt     : int [1:3] 1001 1001 1004
  ..$ folder : chr [1:3] "SCR" "SCR" "SCR"
  ..$ elignum: chr [1:3] "INCL103" "EXCL103" "EXCL105"
  ..$ eligsp : logi [1:3] NA NA NA
  ..- attr(*, "filename")= chr "eligcrit.csv"
 $ enrlment:'data.frame':	8 obs. of  10 variables:
  ..$ V1        : int [1:8] 1 2 3 4 5 6 7 8
  ..$ study     : chr [1:8] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt        : int [1:8] 1001 1002 1003 1004 1005 1006 1007 1008
  ..$ folder    : chr [1:8] "SCR" "SCR" "SCR" "SCR" ...
  ..$ icdt_raw  : chr [1:8] "1/JAN/2010" "1/JAN/2010" "1/JAN/2010" "1/JAN/2010" ...
  ..$ icvers    : int [1:8] 1 1 1 1 1 1 2 2
  ..$ prtvers   : int [1:8] 1 1 1 1 1 1 2 3
  ..$ enrldt_raw: chr [1:8] "" "4/JAN/2010" "3/JAN/2010" "4/JAN/2010" ...
  ..$ randdt_raw: chr [1:8] "" "" "3/JAN/2010" "5/JAN/2010" ...
  ..$ randno    : int [1:8] NA NA 514876 101415 306185 987435 98745 123098
  ..- attr(*, "filename")= chr "enrlment.csv"
 $ eoip    :'data.frame':	4 obs. of  7 variables:
  ..$ V1        : int [1:4] 1 2 3 4
  ..$ study     : chr [1:4] "STU001" "STU001" "STU001" "STU001"
  ..$ pt        : int [1:4] 1004 1006 1007 1008
  ..$ eoscat    : chr [1:4] "End of Treatment" "End of Treatment" "End of Treatment" "End of Treatment"
  ..$ eotype    : logi [1:4] NA NA NA NA
  ..$ eostdt_raw: chr [1:4] "25/JAN/2010" "25/MAR/2010" "6/MAY/2010" "15/JUL/2010"
  ..$ eoterm    : chr [1:4] "Completed" "Adverse Event" "Completed" "Subject Request"
  ..- attr(*, "filename")= chr "eoip.csv"
 $ eos     :'data.frame':	6 obs. of  7 variables:
  ..$ V1        : int [1:6] 1 2 3 4 5 6
  ..$ study     : chr [1:6] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt        : int [1:6] 1002 1003 1004 1006 1007 1008
  ..$ eoscat    : chr [1:6] "End of Study" "End of Study" "End of Study" "End of Study" ...
  ..$ eotype    : logi [1:6] NA NA NA NA NA NA
  ..$ eostdt_raw: chr [1:6] "5/JAN/2010" "5/JAN/2010" "28/FEB/2010" "25/MAR/2010" ...
  ..$ eoterm    : chr [1:6] "Withdrawl of consent" "Death" "Completed" "Adverse Event" ...
  ..- attr(*, "filename")= chr "eos.csv"
 $ eq5d3l  :'data.frame':	2 obs. of  13 variables:
  ..$ V1    : int [1:2] 1 2
  ..$ study : chr [1:2] "STU001" "STU001"
  ..$ pt    : int [1:2] 1004 1004
  ..$ folder: chr [1:2] "SCR" "WEEK 2"
  ..$ dt_raw: chr [1:2] "03/JAN/2010" "12/JAN/2010"
  ..$ stat  : logi [1:2] NA NA
  ..$ reasnd: logi [1:2] NA NA
  ..$ eq5d01: chr [1:2] "I have no problems in walking about" "I have no problems in walking about"
  ..$ eq5d02: chr [1:2] "I have no problems with self-care" "I have no problems with self-care"
  ..$ eq5d03: chr [1:2] "I have no problems with performing my usual activities" "I have no problems with performing my usual activities"
  ..$ eq5d04: chr [1:2] "I have no pain or discomfort" "I have no pain or discomfort"
  ..$ eq5d05: chr [1:2] "I am not anxious or depressed" "I am moderately anxious or depressed"
  ..$ eq5d06: int [1:2] 95 87
  ..- attr(*, "filename")= chr "eq5d3l.csv"
 $ hosp    :'data.frame':	1 obs. of  9 variables:
  ..$ V1: logi NA
  ..$ V2: chr "study"
  ..$ V3: chr "pt"
  ..$ V4: chr "stdt_raw"
  ..$ V5: chr "sttm_raw"
  ..$ V6: chr "endt_raw"
  ..$ V7: chr "entm_raw"
  ..$ V8: chr "rsn"
  ..$ V9: chr "unit"
  ..- attr(*, "filename")= chr "hosp.csv"
 $ ipadmin :'data.frame':	16 obs. of  11 variables:
  ..$ V1        : int [1:16] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ study     : chr [1:16] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt        : int [1:16] 1004 1004 1004 1004 1005 1005 1005 1006 1006 1007 ...
  ..$ folder    : chr [1:16] "WEEK 1" "WEEK 2" "WEEK 3" "WEEK 4" ...
  ..$ ipconc    : int [1:16] 500 500 500 500 500 500 500 500 500 500 ...
  ..$ ipstdt_raw: chr [1:16] "05/JAN/2010" "12/JAN/2010" "18/JAN/2010" "25/JAN/2010" ...
  ..$ ipsttm_raw: chr [1:16] "8:35" "8:35" "9:30" "8:45" ...
  ..$ ipqty_raw : num [1:16] 2 2 1 2 2 2 0 1.9 2 2 ...
  ..$ ipqtyu    : chr [1:16] "mL" "mL" "mL" "mL" ...
  ..$ ipadj     : chr [1:16] "" "" "Adverse Event" "" ...
  ..$ ipboxid   : int [1:16] 13434371 52970539 52120567 59305202 13787377 65580239 45377264 39024101 65845489 66223983 ...
  ..- attr(*, "filename")= chr "ipadmin.csv"
 $ lab_chem:'data.frame':	504 obs. of  12 variables:
  ..$ V1       : int [1:504] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ study    : chr [1:504] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt       : int [1:504] 1004 1004 1004 1004 1004 1004 1004 1004 1004 1004 ...
  ..$ folder   : chr [1:504] "SCR" "SCR" "SCR" "SCR" ...
  ..$ lbdt_raw : chr [1:504] "02/Jan/2010" "02/Jan/2010" "02/Jan/2010" "02/Jan/2010" ...
  ..$ lbtm_raw : logi [1:504] NA NA NA NA NA NA ...
  ..$ test     : chr [1:504] "ALB" "ALP" "ALT" "AMYLASE" ...
  ..$ specimen : chr [1:504] "Serum" "Serum" "Serum" "Serum" ...
  ..$ coll_rslt: num [1:504] 3 10299 2395 7485 1078 ...
  ..$ coll_unit: chr [1:504] "g/dL" "U/L" "U/L" "U/L" ...
  ..$ lower    : num [1:504] 4 2994 599 3174 599 ...
  ..$ upper    : num [1:504] 6 9581 2395 7365 2395 ...
  ..- attr(*, "filename")= chr "lab_chem.csv"
 $ lab_hema:'data.frame':	336 obs. of  11 variables:
  ..$ V1       : int [1:336] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ study    : chr [1:336] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt       : int [1:336] 1004 1004 1004 1004 1004 1004 1004 1004 1004 1004 ...
  ..$ folder   : chr [1:336] "SCR" "SCR" "SCR" "SCR" ...
  ..$ lbdt_raw : chr [1:336] "02/Jan/2010" "02/Jan/2010" "02/Jan/2010" "02/Jan/2010" ...
  ..$ test     : chr [1:336] "BASO" "EOS" "FIBRINO" "HCT" ...
  ..$ specimen : chr [1:336] "Whole blood" "Whole blood" "Plasma" "Whole blood" ...
  ..$ coll_rslt: num [1:336] 1000 2100 260 50 19 36000 30 39 103 3000 ...
  ..$ coll_unit: chr [1:336] "/uL" "/uL" "mg/dL" "%" ...
  ..$ lower    : num [1:336] 0 500 150 38 14 10000 27 33 80 2000 ...
  ..$ upper    : num [1:336] 1000 3000 350 54 18 40000 32 36 94 8000 ...
  ..- attr(*, "filename")= chr "lab_hema.csv"
 $ physmeas:'data.frame':	4 obs. of  9 variables:
  ..$ V1        : int [1:4] 1 2 3 4
  ..$ study     : chr [1:4] "STU001" "STU001" "STU001" "STU001"
  ..$ pt        : int [1:4] 1004 1005 1006 1007
  ..$ folder    : chr [1:4] "SCR" "SCR" "SCR" "SCR"
  ..$ pmdt_raw  : chr [1:4] "4/JAN/2010" "5/FEB/2010" "1/MAR/2010" "13/APR/2010"
  ..$ height_raw: num [1:4] 177 66.1 160 178
  ..$ heightu   : chr [1:4] "Centimeters" "Centimeters" "Centimeters" "Centimeters"
  ..$ weight_raw: num [1:4] 87.3 76.1 60.9 85.4
  ..$ weightu   : chr [1:4] "Kilogram" "Kilogram" "Kilogram" "Kilogram"
  ..- attr(*, "filename")= chr "physmeas.csv"
 $ rand    :'data.frame':	6 obs. of  5 variables:
  ..$ V1     : int [1:6] 1 2 3 4 5 6
  ..$ rand_id: int [1:6] 514876 101415 306185 987435 98745 123098
  ..$ tx_cd  : chr [1:6] "PBO" "ACTIVE" "ACTIVE" "PBO" ...
  ..$ cohort : int [1:6] 1 1 1 2 2 2
  ..$ strata : chr [1:6] "Dummy strata1" "Dummy strata1" "Dummy strata1" "Dummy strata2" ...
  ..- attr(*, "filename")= chr "rand.csv"
 $ surg    :'data.frame':	1 obs. of  8 variables:
  ..$ V1        : int 1
  ..$ study     : chr "STU001"
  ..$ pt        : int 1005
  ..$ surgdt_raw: chr "20/FEB/2010"
  ..$ surgery   : chr "Cholecystectomy"
  ..$ surgreas  : chr "Curative"
  ..$ sreassp   : logi NA
  ..$ surgindic : chr "Gallstones"
  ..- attr(*, "filename")= chr "surg.csv"
 $ vitals  :'data.frame':	9 obs. of  13 variables:
  ..$ V1       : int [1:9] 1 2 3 4 5 6 7 8 9
  ..$ study    : chr [1:9] "STU001" "STU001" "STU001" "STU001" ...
  ..$ pt       : int [1:9] 1004 1004 1005 1005 1005 1006 1006 1007 1007
  ..$ folder   : chr [1:9] "SCR" "WEEK 2" "SCR" "WEEK 2" ...
  ..$ vsdt_raw : chr [1:9] "02/JAN/2010" "12/JAN/2010" "5/FEB/2010" "12/FEB/2010" ...
  ..$ sysbp_raw: int [1:9] 122 120 120 125 130 133 115 120 140
  ..$ diabp_raw: int [1:9] 72 82 85 87 90 87 68 80 80
  ..$ pos      : chr [1:9] "Supine" "Supine" "Sitting" "Sitting" ...
  ..$ hr_raw   : int [1:9] 79 87 68 69 75 74 65 75 80
  ..$ resp_raw : int [1:9] 24 20 14 15 18 20 21 21 NA
  ..$ temp_raw : num [1:9] 34.8 35.3 98.1 36.6 37 ...
  ..$ tempu    : chr [1:9] "Celsius" "Celsius" "Fahrenheit" "Celsius" ...
  ..$ temploc  : chr [1:9] "Axilla" "Axilla" "Axilla" "Axilla" ...
  ..- attr(*, "filename")= chr "vitals.csv"

In [ ]:
lab_hema <- tibble(all_csv_data$lab_hema)

In [ ]:
lab_hema

    V1  study  pt   folder lbdt_raw    test    specimen    coll_rslt coll_unit
1    1  STU001 1004 SCR    02/Jan/2010 BASO    Whole blood  1000.00  /uL
2    2  STU001 1004 SCR    02/Jan/2010 EOS     Whole blood  2100.00  /uL
3    3  STU001 1004 SCR    02/Jan/2010 FIBRINO Plasma        260.00  mg/dL
4    4  STU001 1004 SCR    02/Jan/2010 HCT     Whole blood    50.00  %
5    5  STU001 1004 SCR    02/Jan/2010 HGB     Whole blood    19.00  g/dL
6    6  STU001 1004 SCR    02/Jan/2010 LYM     Whole blood 36000.00  /uL
7    7  STU001 1004 SCR    02/Jan/2010 MCH     Whole blood    30.00  pg/cell
8    8  STU001 1004 SCR    02/Jan/2010 MCHC    Whole blood    39.00  g/dL
9    9  STU001 1004 SCR    02/Jan/2010 MCV     Whole blood   103.00  um^3
10  10  STU001 1004 SCR    02/Jan/2010 MONO    Whole blood  3000.00  /uL
11  11  STU001 1004 SCR    02/Jan/2010 NEUT    Whole blood  7900.00  /uL
12  12  STU001 1004 SCR    02/Jan/2010 NEUTSG  Whole blood 53000.00  /uL
13  13  STU001 1004 SCR    02/Jan/2010 PT      Plasma         17.00  s
14  14  STU001 1004 SCR    02/Jan/2010 RBC     Whole blood     0.57  10^6 /uL
15  15  STU001 1004 SCR    02/Jan/2010 RETI    Whole blood    60.00  10^3 /uL
16  16  STU001 1004 SCR    02/Jan/2010 WBC     Whole blood 50000.00  /uL
17  17  STU001 1004 WEEK 1 05/Jan/2010 BASO    Whole blood     0.00  /uL
18  18  STU001 1004 WEEK 1 05/Jan/2010 EOS     Whole blood  2500.00  /uL
19  19  STU001 1004 WEEK 1 05/Jan/2010 FIBRINO Plasma        140.00  mg/dL
20  20  STU001 1004 WEEK 1 05/Jan/2010 HCT     Whole blood    40.00  %
21  21  STU001 1004 WEEK 1 05/Jan/2010 HGB     Whole blood    13.00  g/dL
22  22  STU001 1004 WEEK 1 05/Jan/2010 LYM     Whole blood 17000.00  /uL
23  23  STU001 1004 WEEK 1 05/Jan/2010 MCH     Whole blood    27.00  pg/cell
24  24  STU001 1004 WEEK 1 05/Jan/2010 MCHC    Whole blood    35.00  g/dL
25  25  STU001 1004 WEEK 1 05/Jan/2010 MCV     Whole blood    93.00  um^3
26  26  STU001 1004 WEEK 1 05/Jan/2010 MONO    Whole blood  4000.00  /uL
27  27  STU001 1004 WEEK 1 05/Jan/2010 NEUT    Whole blood  5500.00  /uL
28  28  STU001 1004 WEEK 1 05/Jan/2010 NEUTSG  Whole blood 62000.00  /uL
29  29  STU001 1004 WEEK 1 05/Jan/2010 PT      Plasma         21.00  s
30  30  STU001 1004 WEEK 1 05/Jan/2010 RBC     Whole blood     0.50  10^6 /uL
... ... ...    ...  ...    ...         ...     ...         ...       ...
307 307 STU001 1008 WEEK 2 04/Jul/2010 FIBRINO Plasma      3.30e+02  mg/dL
308 308 STU001 1008 WEEK 2 04/Jul/2010 HCT     Whole blood 5.10e+01  %
309 309 STU001 1008 WEEK 2 04/Jul/2010 HGB     Whole blood 1.70e+01  g/dL
310 310 STU001 1008 WEEK 2 04/Jul/2010 LYM     Whole blood 2.70e+04  /uL
311 311 STU001 1008 WEEK 2 04/Jul/2010 MCH     Whole blood 3.10e+01  pg/cell
312 312 STU001 1008 WEEK 2 04/Jul/2010 MCHC    Whole blood 3.90e+01  g/dL
313 313 STU001 1008 WEEK 2 04/Jul/2010 MCV     Whole blood 7.60e+01  um^3
314 314 STU001 1008 WEEK 2 04/Jul/2010 MONO    Whole blood 5.00e+03  /uL
315 315 STU001 1008 WEEK 2 04/Jul/2010 NEUT    Whole blood 4.50e+03  /uL
316 316 STU001 1008 WEEK 2 04/Jul/2010 NEUTSG  Whole blood 3.10e+04  /uL
317 317 STU001 1008 WEEK 2 04/Jul/2010 PT      Plasma      1.40e+01  s
318 318 STU001 1008 WEEK 2 04/Jul/2010 RBC     Whole blood 5.10e-01  10^6 /uL
319 319 STU001 1008 WEEK 2 04/Jul/2010 RETI    Whole blood 5.30e+01  10^3 /uL
320 320 STU001 1008 WEEK 2 04/Jul/2010 WBC     Whole blood 1.05e+05  /uL
321 321 STU001 1008 WEEK 3 11/Jul/2010 BASO    Whole blood 0.00e+00  /uL
322 322 STU001 1008 WEEK 3 11/Jul/2010 EOS     Whole blood 2.70e+03  /uL
323 323 STU001 1008 WEEK 3 11/Jul/2010 FIBRINO Plasma      2.60e+02  mg/dL
324 324 STU001 1008 WEEK 3 11/Jul/2010 HCT     Whole blood 4.60e+01  %
325 325 STU001 1008 WEEK 3 11/Jul/2010 HGB     Whole blood 1.60e+01  g/dL
326 326 STU001 1008 WEEK 3 11/Jul/2010 LYM     Whole blood 4.20e+04  /uL
327 327 STU001 1008 WEEK 3 11/Jul/2010 MCH     Whole blood 2.90e+01  pg/cell
328 328 STU001 1008 WEEK 3 11/Jul/2010 MCHC    Whole blood 3.20e+01  g/dL
329 329 STU001 1008 WEEK 3 11/Jul/2010 MCV     Whole blood 9.20e+01  um^3
330 330 STU001 1008 WEEK 3 11/Jul/2010 MONO    Whole blood 7.00e+03  /uL
331 331 STU001 1008 WEEK 3 11/Jul/2010 NEUT    Whole blood 4.40e+03  /uL
332 332 STU001 1008 WEEK 3 11/Jul/2010 NEUTSG  Whole blood 3.10e+04  /uL
333 333 STU001 1008 WEEK 3 11/Jul/2010 PT      Plasma      2.20e+01  s
334 334 STU001 1008 WEEK 3 11/Jul/2010 RBC     Whole blood 6.00e-01  10^6 /uL
335 335 STU001 1008 WEEK 3 11/Jul/2010 RETI    Whole blood 7.60e+01  10^3 /uL
336 336 STU001 1008 WEEK 3 11/Jul/2010 WBC     Whole blood 6.10e+04  /uL
    lower   upper
1   0.0e+00 1.0e+03
2   5.0e+02 3.0e+03
3   1.5e+02 3.5e+02
4   3.8e+01 5.4e+01
5   1.4e+01 1.8e+01
6   1.0e+04 4.0e+04
7   2.7e+01 3.2e+01
8   3.3e+01 3.6e+01
9   8.0e+01 9.4e+01
10  2.0e+03 8.0e+03
11  1.8e+03 7.5e+03
12  2.5e+04 6.0e+04
13  1.0e+01 2.0e+01
14  4.5e-01 6.0e-01
15  2.3e+01 9.0e+01
16  5.0e+04 1.0e+05
17  0.0e+00 1.0e+03
18  5.0e+02 3.0e+03
19  1.5e+02 3.5e+02
20  3.8e+01 5.4e+01
21  1.4e+01 1.8e+01
22  1.0e+04 4.0e+04
23  2.7e+01 3.2e+01
24  3.3e+01 3.6e+01
25  8.0e+01 9.4e+01
26  2.0e+03 8.0e+03
27  1.8e+03 7.5e+03
28  2.5e+04 6.0e+04
29  1.0e+01 2.0e+01
30  4.5e-01 6.0e-01
... ...     ...
307 1.5e+02 3.5e+02
308 3.8e+01 5.4e+01
309 1.4e+01 1.8e+01
310 1.0e+04 4.0e+04
311 2.7e+01 3.2e+01
312 3.3e+01 3.6e+01
313 8.0e+01 9.4e+01
314 2.0e+03 8.0e+03
315 1.8e+03 7.5e+03
316 2.5e+04 6.0e+04
317 1.0e+01 2.0e+01
318 4.5e-01 6.0e-01
319 2.3e+01 9.0e+01
320 5.0e+04 1.0e+05
321 0.0e+00 1.0e+03
322 5.0e+02 3.0e+03
323 1.5e+02 3.5e+02
324 3.8e+01 5.4e+01
325 1.4e+01 1.8e+01
326 1.0e+04 4.0e+04
327 2.7e+01 3.2e+01
328 3.3e+01 3.6e+01
329 8.0e+01 9.4e+01
330 2.0e+03 8.0e+03
331 1.8e+03 7.5e+03
332 2.5e+04 6.0e+04
333 1.0e+01 2.0e+01
334 4.5e-01 6.0e-01
335 2.3e+01 9.0e+01
336 5.0e+04 1.0e+05

**Import**

In [ ]:
demog <- import("demog.csv")

In [ ]:
demog

  V1 study  pt   sex    ethnic
1 1  STU001 1001 Male   Hispanic or Latino
2 2  STU001 1002 Female Not Hispanic or Latino
3 3  STU001 1003 Male   Hispanic or Latino
4 4  STU001 1004 Male   Hispanic or Latino
5 5  STU001 1005 Male   Not Hispanic or Latino
6 6  STU001 1006 Female Not Hispanic or Latino
7 7  STU001 1007 Male   Not Hispanic or Latino
8 8  STU001 1008 Female Not Hispanic or Latino
  race                                      race2
1 White
2 Asian                                     American Indian or Alaska Native
3 Other
4 White
5 American Indian or Alaska Native
6 Native Hawaiian or Other Pacific Islander
7 Unknown
8 Not Reported
  race3 race4 racesp    age_raw age_rawu brthdt_raw country
1 NA    NA              35      Years    NA         USA
2 NA    NA              40      Years    NA         USA
3 NA    NA    BRAZILIAN 40      Years    NA         USA
4 NA    NA              38      Years    NA         USA
5 NA    NA              64      Years    NA         USA
6 NA    NA              75      Years    NA         USA
7 NA    NA              32      Years    NA         USA
8 NA    NA              83      Years    NA         USA

**The export() function lets you save data to your local drive by specifying the desired file path and name.**

In [ ]:
export(Inventory, "C:/Users/Waraba/Desktop/R in CDISC _ Jupyter Lab/Inventory.csv")